.body-background {
    background-color: #F5F5F5;
}

.first-first-style {
    margin-top: 45px !important;
    margin-left: 40px;
    font-size: 32px;
    font-weight: 500;
    line-height: 43.71px;
}

.first-second-style {
    margin-top: 45px !important;
    //margin-left: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
}